[submodule "zencoding"]
	path = zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule "IndentGuides"]
	path = IndentGuides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "delimitMate"]
	path = delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "powerLine"]
	path = powerLine
	url = git://github.com/Lokaltog/vim-powerline.git
