[submodule "zencoding"]
	path = zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule "IndentGuides"]
	path = IndentGuides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "delimitMate"]
	path = delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "powerLine"]
	path = powerLine
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim-stylus"]
	path = vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "html5.vim"]
	path = html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "MatchTag"]
	path = MatchTag
	url = git://github.com/gregsexton/MatchTag.git
